// Specific CSS for your home-page
@media (max-width: 480px) {
  html, body {
  overflow-x: hidden;
  }

  body {
  position: relative
  }

  .navbar {
    padding: 10px 10px;
  }
  
  .home-page {
    height: 30vh;
  }

  .home-page-body {
    display: block;
    height: 300vh;
  }

  .home-page-top {
    display: none;
  }

  .home-image img {
    display: none;
  }
}

body {
  font-family: 'Lexend', Helvetica, Arial, sans-serif !important;
  background-color: white;
}

.home-page {
  height: 140vh;
  display: flex;
  flex-flow: column;
}

.home-page-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background-color: #f7f7ff;
}

.home-page-top {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-basis: 100%;
}

.home-image {
  left: 0;
}

.home-image img {
  width: 600px;
  height: 470px;
}

.feature-page-body {
  display: flex;
  align-items: center;
  height: 100%;
}

.cards {
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 70px;
}

.card {
  width: 370px;
  height: 250px;
  display: flex;
  align-items: center;
  border: none;
  background-color: #FFFEFA;
}

.feature-image-1 img {
  width: 160px;
  height: 100px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.feature-image-2 img {
  width: 150px;
  height: 150px;
  margin-bottom: 20px;
}

.feature-image-3 img {
  width: 170px;
  height: 170px;
}

.feature-text {
  text-align: center;
}

.feature-text h4 {
  font-family: "Lexend";
  font-weight: 800;
}

.hero-title {
  width: 80%;
}

.hero-title h1 {
  font-size: 48px;
  font-family: "Lexend";
  font-weight: 900;
  line-height: 0.9;
  margin-top: -91px;
}

.hero-title-move {
  font-family: "Lexend";
  margin-top: 20px;
  font-weight: 500;
  font-size: 15px;
}

.hero-title p {
  font-family: "Lexend";
  font-size: 15px;
  margin-top: 10px;
}

#text {
	display: inline-block;
	vertical-align: middle;
	color: red;
	letter-spacing: 2px;
}

#cursor {
	display: inline-block;
	vertical-align: middle;
	width: 3px;
	height: 15px;
	background-color: red;
	animation: blink .75s step-end infinite;
}

@keyframes blink {
	from, to { 
		background-color: transparent 
	}
	50% { 
		background-color: orange; 
	}
}


.form-group {
  color: #282846;  
}

.home-btn {
  border-color: #74A27E;
  color: #138496;
}

.home-btn:hover {
  background-color: #74A27E;
  color: #014A26;
}






