<footer class="footer-distributed">
  <div class="footer-right">
    <a href="https://linkedin.com/company/linkberryco"><i class="fab fa-linkedin-in"></i></a>
  </div>

  <div class="footer-left">
    <p class="footer-links">
      <%= link_to root_path, class: "link-1" do %>
        Home
      <% end %>
      <%= mail_to "contact@linkberry.com", "Contact", class: "link-1 pl-3" %>
    </p>
    <p>LinkBerry &copy; 2021</p>
  </div>
</footer>      
