<!-- Directly below is the div for the entire page -->
<div class="w-100 p-1 d-flex justify-content-center main-wrapper linkberry-green-background">



  <!-- Directly below is the left hand side box with the title, form -->
  <div class="m-1 w-100 h-100 d-flex justify-content-center align-items-center flex-column border-right" style="border-color: #223D8E;">
    <div class="w-75">
      <h2 class="linkberry-title">Ready to make the jump? Be among the first to join us!</h2>
      <p class="mt-4">While we polish the final details on our features, we would love to get to know you before we launch. </p>
      <div class="d-flex w-100 mt-4">
        <div class="">
          <input type="password" class="form-control" id="inputPassword2" placeholder="Email">
        </div>
        <div>
          <button type="submit" class="btn btn-dark mb-2 font-weight-light" style="background-color: #223D8E;">Early Sign-Up</button>
        </div>
      </div>
    </div>
  </div>



  <!-- Directly below is the right hand box with the four box visuals of the page -->
  <div class="m-1 w-100 d-flex justify-content-center align-items-center flex-column">

    <div class="row w-100">
      <!-- Box 1 -->
      <div class="mx-3 my-3 col bg-light rounded d-flex align-items-center justify-content-center flex-column">
        <i class="fas fa-cookie-bite  fa-2x mt-4"></i>
        <h4 class="mt-3">We have cookies.</h4>
        <p class="linkberry-description-light text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <!-- Box 2 -->
      <div class="mx-3 my-3 col bg-light rounded d-flex align-items-center justify-content-center flex-column">
        <i class="fas fa-glass-whiskey fa-2x mt-4"></i>
        <h5 class="mt-3">We have milk.</h5>
        <p class="linkberry-description-light text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>


    <div class="row w-100">
      <!-- Box 3 -->
      <div class="mx-3 my-3 col bg-light rounded d-flex align-items-center justify-content-center flex-column">
        <i class="fas fa-couch fa-2x mt-4"></i>
        <h5 class="mt-3">We have toasty blankets.</h5>
        <p class="linkberry-description-light text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>

      <!-- Box 4 -->
      <div class="mx-3 my-3 col bg-light rounded d-flex align-items-center justify-content-center flex-column">
        <i class="fas fa-tv fa-2x mt-4"></i>
        <h5 class="mt-3">We have Netflix.</h5>
        <p class="linkberry-description-light text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>





</div>
