.course-sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  margin-top: -60px;
  left: 0;
  background-color:#1d7756;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}

.navbar {
  height: 40px;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  padding: 35px 35px;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #f7f7ff;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  font-family: "Lexend";
  font-size: 20px;
}

.navbar-lewagon .navbar-brand img {
  width: 25px;
}


.contact {
  font-family: "Lexend";
  color: black;
  text-decoration: none;
}

